/*______________________________________

TITLE: main stylesheet for Scream NET
ASSIGNEE: Ryan Kraynak
DATE of MOD: April 3rd, 2019
VERSION: 0.0.1 BETA
______________________________________*/

/* STYLE CARD */
:root {
    --background-color: hsl(0, 0%, 25%);
    --banner-clr: hsl(0, 0%, 50%);
    --text-title: hsl(0, 0%, 0%);
    --text-sub: hsl(0, 0%, 75%);
    }
    
    html {
        height: 100%;
        margin: 0 auto;
    }
    
    h1 {
        margin: 0;
        padding: 0;
        color: var(--text-title);
    }
    
    
    /* BODY STYLE*/
    body{
        background-color: var(--background-color);
        height: 100%;
        margin: 0;
    }
    
    /* HEADER */
    .wrapper {
        margin: 0;
        position: absolute;
        background-color: var(--banner-clr);
        width: 100%;
    }
    nav{
        position: sticky;
    }
    .wrapper #logo img{
        width: 5em;
        height: 5em;
        margin: 0;
        position: static;
        float: left;
    }
    .wrapper #sitemap{
        float: left;
        width: auto;
        height: 100%;
    }
    .wrapper #sitemap ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: fixed;
    }
    
    .wrapper #sitemap ul li{
        display: inline;
        position: relative;
        text-align: center;
        white-space: nowrap;
        overflow: visible;
        padding: 1.5em;
    }
    
    .wrapper #sitemap ul li:hover{
        filter: invert();
        background-color: var(--background-color);
    }
    
    .wrapper #sitemap ul li a{
        text-decoration: none;
        color: var(--text-sub);
    }
    
    .wrapper #login{
        float: right;
        position: relative;
    }
    /* FORM SYSTEMS */
    .usForm {
        position: absolute;
        padding: 20px;
    }
    /*FOOTER*/
    footer {
        position: sticky;
        height: 50px;
        
    }
    /* Form Display */
.display {
    position: absolute;
}
